server/logs/json/
server/logs/json/*
client/public/icons
server/scripts
server/logs/pets/
server/logs/pets/*
server/logs/segments/
server/logs/segments/*
server/tmp/*
server/go-log-executables
server/go-log-executables/*